server {
    listen 80;
    server_name {{ project_name }}-{{ ENV }}.com;

    root /var/www/html/{{ PROJECT_DIR }}/public;
    index index.php index.html;

    access_log /var/log/nginx/{{ project_name }}_access.log;
    error_log /var/log/nginx/{{ project_name }}_error.log;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass 127.0.0.1:{{ PHP_PORT }};
        fastcgi_index index.php;
        fastcgi_param HTTP_PROXY "";
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    location ~ /\. {
        deny all;
    }
}
